<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="Visa.License.Properties.Settings.LicenseDBConnectionString"
      connectionString="workstation id=VisaLicenses.mssql.somee.com;packet size=4096;user id=visahelper_SQLLogin_1;pwd=l15cwln5jj;data source=VisaLicenses.mssql.somee.com;persist security info=False;initial catalog=VisaLicenses"
      providerName="System.Data.SqlClient" />
    <add name="VisaLicensesEntities" connectionString="metadata=res://*/DB.Model1.csdl|res://*/DB.Model1.ssdl|res://*/DB.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VisaLicenses.mssql.somee.com;initial catalog=VisaLicenses;persist security info=True;user id=visahelper_SQLLogin_1;password=l15cwln5jj;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EntityDataModel" connectionString="data source=VisaLicenses.mssql.somee.com;initial catalog=VisaLicenses;persist security info=True;user id=visahelper_SQLLogin_1;password=l15cwln5jj;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Visa.License.Properties.Settings.VisaLicensesConnectionString"
      connectionString="Data Source=VisaLicenses.mssql.somee.com;Initial Catalog=VisaLicenses;Persist Security Info=True;User ID=visahelper_SQLLogin_1;Password=l15cwln5jj"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>