<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="License.Properties.Settings.LicenseDBConnectionString" connectionString="Data Source=mysql.hostinger.com.ua;Initial Catalog=u264037935_visa;User ID=u264037935_licen; Password=0v1i2s3a4!; MultipleActiveResultSets=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>